# Django
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database (PostgreSQL)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Frontend
FRONTEND_URL=

# Email (SMTP)
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=